<footer>

    <div class="text-center row mb-5" style="opacity: .2; margin-top: 5em;">
        <div class="col">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            by <a href='https://github.com/swharden' class="text-dark">swharden</a>
            and the open-source community
        </div>
        <div class="col">
            <a href="https://github.com/swharden/Maui.Graphics/blob/main/LICENSE" class="text-dark">MIT License</a>
        </div>
        <div class="col">
            <a href='https://github.com/swharden/Maui.Graphics/blob/main/content' class="text-dark">Page Source</a>
        </div>
    </div>

</footer>