<footer>

    <div class="mb-3 text-center" style="opacity: .2; margin-top: 5em;">
        <div>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            by
            <a href='https://github.com/swharden' class="text-dark">swharden</a>
        </div>
        <div>
            <a href="" class="text-dark">View source</a>
            (<a href="https://github.com/swharden/Maui.Graphics/blob/main/LICENSE" class="text-dark">MIT license</a>)
        </div>
    </div>

</footer>