<footer class="d-none">

    <div class="row align-items-end mt-5" style="opacity: .3;">

        <div class="col text-start">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            <a href='https://github.com/swharden' class="text-dark">swharden</a>
        </div>

        <div class="col text-center">
            <img src="/images/dotnet-bot-waving.svg" style="opacity: .5;" />
        </div>

        <div class="col text-end">
            <a href="https://github.com/swharden/Maui.Graphics/tree/main/website/content/{{ path.Clean .File.Path }}"
                class="text-dark">
                View Source
            </a>
        </div>
    </div>

</footer>